@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    <form onsubmit="calc()">
<input type="number" id="c"/>
        <input type="submit" value="Calcular"/>
</form>
    <div id="result"></div>
</div>
